
NET CLK 			LOC="A10" | IOSTANDARD=LVTTL;

NET LED1 		LOC="B10" | IOSTANDARD=LVTTL | SLEW= SLOW;

NET VAL_OUT<0> LOC="A14" | IOSTANDARD=LVTTL | SLEW= SLOW;
NET VAL_OUT<1> LOC="B14" | IOSTANDARD=LVTTL | SLEW= SLOW;
NET VAL_OUT<2> LOC="C13" | IOSTANDARD=LVTTL | SLEW= SLOW;
NET VAL_OUT<3> LOC="A13" | IOSTANDARD=LVTTL | SLEW= SLOW;
NET VAL_OUT<4> LOC="B12" | IOSTANDARD=LVTTL | SLEW= SLOW;
NET VAL_OUT<5> LOC="A12" | IOSTANDARD=LVTTL | SLEW= SLOW;
NET VAL_OUT<6> LOC="C11" | IOSTANDARD=LVTTL | SLEW= SLOW;
NET VAL_OUT<7> LOC="A11" | IOSTANDARD=LVTTL | SLEW= SLOW;